.build
.idea
.direnv
.west
modules
firmware
zephyr
zmk
draw/base.yaml
draw/base.svg
nice-view-elemental
nice-*
prospector*
zmk-dongle-screen

zmk-input-processor-report-rate-limit
zmk-pmw3610-driver
zmk-input-processor-xyz/
zmk-nice-oled/
zmk-report-rate-limit/
zmk-rgbled-widget/
zmk-scroll-snap/
gggw-zmk-keebs/
